@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --cor-de-fundo:#A3C2F1;
    --verde: #6FFF57;
    --branco: #FFFFFF;  
    --botao-ativo: #BD73F7;
    --botao-inativo: rgba(176, 96, 238, 1);
    --texto-fundo: rgba(129, 237, 252, 0.95);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: "Chakra Petch", sans-serif;
}